svg{
    border: 2px solid black;
    background-image: url("https://bogatyr.club/uploads/posts/2023-06/1687518101_bogatyr-club-p-pikselnaya-kirpichnaya-stena-foni-vkontakt-11.png");
    background-size: 100% 100%;
}
